<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>ejs</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <div class="container">
    <div class="sidebar">
      <div class="button">表单设置</div>
      <p class="title">自定义控件</p>
      <div class="button">货币控件</div>
    </div>
    <div class="content"></div>
  </div>
</body>
</html>